<div class="row user-profile">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar.medium.url %>
        <% if @user.supervisor? %>
          <div class="label label-danger"><%= t ".supervisor" %></div>
        <% end %>
      </div>
      <div class="col-md-9">
        <ul>
          <li class="list-group-item row">
            <div class="col-md-3"><strong><%= t ".name" %></strong></div>
            <div class="col-md-9"><%= @user.name %></div>
          </li>
          <li class="list-group-item row">
          <div class="col-md-3"><strong><%= t ".email" %></strong></div>
            <div class="col-md-9">@user.email</div>
          </li>
        </ul>
        <div class="row course-listing">
  <div class="col-xs-12">
    <div class="name heading col-xs-2">
      Ruby On Rails
    </div>
    <div class="date col-xs-4">
      Start date: 10/10/2015
    </div>
    <div class="course-progress col-xs-2">
      <button class="btn btn-default">FINISHED</button>
    </div>
    <div class="btn-toggle col-xs-2">
      <button class="btn btn-default">HIDE</button>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="name col-xs-2">
      Task 1
    </div>
    <div class="date col-xs-4">
    </div>
    <div class="course-progress col-xs-2">
      <button class="btn btn-default">FINISHED</button>
    </div>
    <div class="btn-toggle col-xs-2">
    </div>
  </div>

  <div class="col-xs-12">
    <div class="name col-xs-2">
      Task 2
    </div>
    <div class="date col-xs-4">
    </div>
    <div class="course-progress col-xs-2">
      <button class="btn btn-default">FINISHED</button>
    </div>
    <div class="btn-toggle col-xs-2">
    </div>
  </div>
</div>

<style>
  .name.heading {
    font-weight: bold;
  }
  .name:not(.heading) {
    padding-left: 30px;
  }
</style>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
