<div class="row user-profile">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
      <%= image_tag @user.avatar.medium.url, class: "img-responsive" %>
        <% if @user.supervisor? %>
        <div class="label label-danger"><%= t ".supervisor" %></div>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="row information">
          <div class="col-md-12">
            <div class="col-md-3"><strong><%= t ".name" %></strong></div>
            <div class="col-md-9"><%= @user.name %></div>
          </div>

          <div class="col-md-12">
            <div class="col-md-3"><strong><%= t ".email" %></strong></div>
            <div class="col-md-9"><%= @user.email %></div>
          </div>
        </div>

        <hr/>
        <% @user.courses.each do |course| %>
          <div class="row">
            <div class="col-md-3 course-title">
              <%= course.name %>
            </div>
            <div class="col-md-5">
              <%= t ".start date" %>: <span class="date-format"> <%= course.start_date.strftime %> - <%= course.end_date.strftime %> </span>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger disabled"><%= t "application.buttons.trainning" %></button>
            </div>
          </div>
          <% course.subjects.each do |subject| %>
            <div class="row course-listing">
              <div class="col-md-12">
                <div class="name heading col-md-3">
                  <strong><%= subject.name %></strong>
                </div>
                <div class="col-md-5">
                  <%= t ".start date" %>: <span class="date-format"><%= course.start_date.strftime "%d %b" %> - <%= course.end_date.strftime "%d %b" %></span>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-success disabled"><%= t "application.buttons.finished" %></button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-default btn-toggle"><%= t ".hide" %></button>
                </div>
              </div>
              <% subject.tasks. each do|task| %>
                <div class="col-md-12 item">
                  <div class="name col-md-3">
                    <%= task.name %>
                  </div>
                  <div class="col-md-5">
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-default"> <%= t "application.buttons.finished" %></button>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              <% end %>


            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
